
extends homepage
block content  
    .content
      h1 Login here
      form(action='/authenticate' method='POST')
        label(for='email') Enter your email: 
        input('name'='email') 
        br
        label(for='email') Enter your password: 
        input('name'='password')
        br
        input(type='submit' value='Submit')
      a(href='/register')
        button('Create new user') create new user

