extends homepage
block content  
    .content
        h1 Register here
        form(action='/set-password' method='POST')
            label(for='user_name') Enter youe name: 
            input(name="user_name")
            br 
            br
            label(for='email') Enter your email: 
            input('name'='email') 
            br
            label(for='email') Enter your password: 
            input('name'='password')
            br
            input(type='submit' value='Submit')
        
