body {
  background-color: rgb(193, 183, 183);
  margin: 0%;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px 50px 300px 300px 50px;
  /* gap: 5px; */
  box-sizing: border-box;
  margin: 0%;
}

.logo {
  background-color: black;
  color: white;
  padding: 0%;
}

.navbar {
  background-color: black;
  color: white;
}

.sign-in {
  background-color: black;
  color: white;
}

.book {
  display: inline-block;
  background-color: rgb(64, 62, 62);
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  padding: 0px;
  color: white;
  margin: 0%;
  /* vertical-align: middle; */
}

.content {
  background-color: rgb(236, 213, 121);
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  padding: 40px;
  box-sizing: border-box;
}

.contact {
  background-color: rgb(236, 213, 121);
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
}

.footer {
  background-color: rgb(193, 183, 183);
  grid-column-start: 1;
  grid-column-end: 4;
  color: rgb(12, 12, 12);
  text-align: center;
  margin: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: white;
  vertical-align: baseline;
}

.navbar li {
  display: inline;
  text-decoration: none;
  color: white;
}

.navbar a,
.logo a,
.book a {
  text-decoration: none;
  color: white;
}

.main-content1 {
  background-color: rgb(167, 158, 158);
  text-align: center;
  background-image:url('../../../../../images/table2.png');
  background-repeat:no-repeat ;
  background-size:cover;
  background-position:center ;
}
a:nth-child(2) {
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}
a:nth-child(3) {
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}
a:nth-child(4) {
  font-size: 20px;
  padding-left: 10px;
  text-decoration: none;
}
a:nth-child(2):hover {
  color: blue;
}
a:nth-child(3):hover {
  color: blue;
}
a:nth-child(4):hover {
  color: blue;


